################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiCenterMcpFetcher/.vs/ApiCenterMcpFetcher
/ApiCenterMcpFetcher/bin/Debug/net10.0
/ApiCenterMcpFetcher/obj
/ApiCenterIndexUploader/.vs
/ApiCenterIndexUploader/bin/Debug/net10.0
/ApiCenterIndexUploader/obj
